.container {
  font-family: Georgia, sans-serif;
  text-align: center;
  display: flex;
  height: 100vh;
  background-color: #2d3436;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  align-items: center;
}

.canva_wrapper{
  width: 100%;
  ._canvas{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }
}

.audio_wrapper{
  //position: fixed;
  //top: 0;
  //right: 10px;
  z-index: 99999;
  //height: 0;
  //overflow: hidden;
}

.push_wrapper{
  position: fixed;
  z-index: 9999;
  overflow: hidden;
}

.time_wrapper{
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  h1 {
    font-size: 40px;
    padding-bottom: 2rem;
    opacity: 0.5;
    text-transform: uppercase;
  }

}
