.container {
  font-family: Georgia, sans-serif;
  text-align: center;
  display: flex;
  height: 100vh;
  background-color: #2d3436;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  align-items: center;
}

.canva_warpper{
  width: 100%;
  ._canvas{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }
}

.audio_warpper{
  position: fixed;
  bottom: 0;
  z-index: 999;
  height: 0;
  overflow: hidden;
}
